# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

# C++
-   repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.6
    hooks:
    -   id: clang-format
        types_or: [c++, c, cuda]

# python
-   repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.11.0
    hooks:
    -   id: black
