sudo: required
dist: trusty
language: cpp

os:
  - linux
  - osx

notifications:
  email:
    recipients:
      - rainer.kuemmerle@gmail.com
    on_success: change # default: change
    on_failure: always # default: always

compiler:
  - gcc
  - clang

before_install:
  - env | sort

install:
  #- script/install-deps-linux.sh
  - script/install-deps-${TRAVIS_OS_NAME}.sh

before_script:
  - mkdir build
  - cd build
  - cmake ..
  - cat g2o/config.h

script: make

# right now only build the master branch
branches:
  only:
    - master

matrix:
  exclude:
    - os: osx
      compiler: gcc
  allow_failures:
    - os: osx
